
body {
    font-family: HelveticaNeueCyr, Helvetica, Arial;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/*.center-block, .region-sidebar-first .block img, .region-sidebar-second .block img, .region-slider .block img, .node-teaser .field-img img, .view-gallery img, .node-full .node_field_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-responsive, .block-block, .region-sidebar-first .block img, .region-sidebar-second .block img, .region-slider .block img, .node-full .field-body img {
    display: block;
    max-width: 100%;
    height: auto;
}
*/

.header-top {
    background: #355E97;
    color: #fff;
}

.wrapper-upper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#top-right,
#top-center {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    text-align: center;
}

#top-right {
    text-align: right;
    font-size: 18px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header-top .fa {
    border-left: 1px solid #4276bd;
}

#header-top .fa {
    margin-right: 5px;
    padding-left: 5px;
}



.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#header-bottom {
    background: #f7f7f7;
/*    padding: 20px 0;*/
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-header {
    float: left;
}

.navbar-default {
    background: none;
    border: 0;
    margin-bottom: 0;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
    flex-grow: 0;
    align-items: center;
    flex-basis: 0%;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav {
    margin-top: 18px;
    float: left;
    margin: 0;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.navbar-default .navbar-nav > a {
    color: #fff;
    background-color: #355E97;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}


/*БАННЕР*/

#banner-or-slider {
    position: relative;
    background: url(/image/top-blue.png);
    background-size: cover;
    border-bottom: 1px solid #355E97;
}

#name-and-slogan {
    position: absolute;
    text-align: center;
    color: transparent;
    z-index: -999;
}

#banner {
    width: 100%;
}

img {
    vertical-align: middle;
    border: 0;
}

#logo {
    display: none;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    color: #0896ff;
    text-decoration: none;
    background-color: transparent;
}

#logo img {
    padding: 20px 0;
}

/*CONTENT*/
.page-header, #block-views-front-block .block-title, .view-video h2 {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #ddd;
}

h1, .h1, #block-views-front-block .block-title {
    font-size: 36px;
}

.h2, h2 {
    font-size: 25px;
}

/*
h1, h2, h3, h4, h5, h6, .h1, #block-views-front-block .block-title, .h2, .h3, .region-sidebar-first .block .block-title, .region-sidebar-second .block .block-title, .region-slider .block .block-title, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 450;
    line-height: 1.1;
    color: inherit;
}
*/

.container-fluid h1,.node-teaser h2{
    font-weight: 450;
}

.node-teaser {
    padding-bottom: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}


/*Footer*/
#footer {
    background: #355E97;
    padding-top: 20px;
    margin-top: 40px;
    color: #fff;
}
#footer-top {
    border-bottom: 1px dotted #555555;
}
#footer-top-container {
    padding-bottom: 20px;
}
.container-fluid p{
    margin: 0 0 10px;
}
#footer-bottom {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #1c487c;
}
.top-footer-color{
    margin: 25px 0;
}


/*Форма*/
.main_form {
  color: #e5e3d3;
  width: 100%;
/*padding-left: 15px;*/}

.color_element {
  color: #B73545;
  font-size: 12px; }

.form-group {
  display: block; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    border: none; }

.btn-send {
  border: none;
  letter-spacing: 1px; }

/*Чекбокс*/

.abtn-send{
  display: inline-block;
  padding: 8px 20px;
  font: 16px/24px Arial, sans-serif;
  background: #000;
  color: #fff;
}
.acheckbox:checked ~ .button{
  background: red;
}

.i_agree{
    text-decoration: underline;
}
.LawInfo{
    font-size: 12px;
    font-style:italic;
}
/*----------------------------------------КНОПКА*/


/*body {
    background-image: url(http://p1.pichost.me/i/11/1344899.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}
.wrap {
    position: absolute;
    top: 90%;
    left: 40%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
}
*/

.wrap {
    position: absolute;
    top: 85%;
    left: 40%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
}

.button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    width: 250px;
    max-height:  height: 100px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 18px;
}

a.button {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
     background:rgba(10, 150, 40, 0.7);
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(27, 177, 207, 0.7) 0 0px 0px 40px inset;
   /* background:rgba(27, 177, 207, 0.7);*/
}

/*
a.button2 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}
*/


