h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.3rem;
}
.video-head-cont {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.up-menu {
  position: absolute;
  z-index: 100;
  top: 35%;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
}
.up-menu-text {
  text-align: center;
  width: 52%;
  margin: 0 auto;
  /* background-color: aqua; */
}
.up-menu-button {
  display: flex;
  justify-content: center;
}
#myBtn a {
  text-decoration: none;
}
.btn-worker,
.btn-student {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-worker {
  padding: 10px 15px;
  margin-left: 5px;
}
.btn-student {
  padding: 10px 40px;
  margin-right: 5px;
}
.up-menu-line {
  border-bottom: 2px solid #fff;
  width: 80%;
  margin: 15px auto;
}
