h1 {
  font-size: 2.5rem;
}
p {
  font-size: 1.3rem;
}
.video-head-cont {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.up-menu {
  position: absolute;
  z-index: 100;
  top: 35%;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
}
.up-menu-text {
  text-align: center;
  width: 52%;
  margin: 0 auto;
  /* background-color: aqua; */
}
.up-menu-button {
  display: flex;
  justify-content: center;
}
#myBtn a {
  text-decoration: none;
}
.btn-worker,
.btn-student {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-worker {
  padding: 10px 15px;
  margin-left: 5px;
}
.btn-student {
  padding: 10px 40px;
  margin-right: 5px;
}
.up-menu-line,
.up-menu-line-2 {
  border-bottom: 2px solid #fff;
  width: 80%;
  margin: 15px auto;
}
.up-menu-line-2 {
  display: none;
}
.nameSiteMobile {
  display: none;
}
@media (max-width: 900px) {
  .up-menu {
    top: 15%;
  }
}
@media (max-width: 680px) {
  .up-menu-line-2 {
    display: block;
  }
  .up-menu {
    position: initial;
  }
  .up-menu-text {
    position: absolute;
    bottom: 30%;
    width: 100%;
  }
  .nameSiteMobile {
    display: block;
    padding: 15px 0;
  }
  .nameSite {
    display: none;
  }
  .up-menu-text p {
    display: none;
  }
  .up-menu-button {
    display: block;
  }
  .up-menu-button button {
    margin: 35px 0 0 0;
    width: 80%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
  }
  .video-head-cont {
    background-color: #1a2c3d;
    padding: 45px 0;
  }
  .video-head-cont .fluid {
    display: none;
  }
}
