.form {
  background-color: #eaecee;
  padding: 15px 10px;
}
.form-send {
  margin-top: 35px;
}
.form-send label {
  padding-top: 10px;
  font-size: 18px;
}

.black {
  border-bottom: 1px solid #000;
  width: 80%;
  margin: 15px auto;
}

.btn-send {
  padding: 15px 25px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.form-send input,
textarea {
  padding: 10px 15px;
  font-size: 18px;
}
.form-send input[type='checkbox'] {
  padding: 10px;
  margin-right: 15px;
}
@media (max-width: 680px) {
  .form-send {
    margin-top: 0;
  }
  .form-send label {
    padding-top: 0;
  }
  .black {
    margin: 0 auto;
  }
}
